---
const {title} = Astro.props;
---

<div>
  <div class="flex flex-row justify-between bg-emerald-300 p-4">
    <h1>{title}</h1>
    <a href="/">Inici</a>
    <a href="/upload">Afegir foto</a>
    <a href="/mypics">My fotos</a>
    <a href="/logout">Logout</a>
  </div>
</div>
